/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

a:hover {
  text-decoration: none; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*Placeholders*/
/*Truncate*/
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example: .element { @include responsive-ratio(400, 300); }
*/
.estimate_form_row ul, .order_query_news, .sidebar_category_lst, .article_summary ul, .footer_menu, .navigation_lst, .topbar_menu {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #000;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    color: #F9A850; }
  a.color_blue:hover, a.color_link:hover {
    color: #F9A850; }

img {
  max-width: 100%; }

strong, b {
  font-weight: 700; }

.font_light {
  font-weight: 300; }

.font_regular {
  font-weight: 400; }

.font_bold {
  font-weight: 700; }

.fieldset {
  border: none;
  margin: 0;
  padding: 0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px; }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #F9A850; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px; }

.color_white {
  color: white; }

.color_orange {
  color: #F9A850; }

.color_blue {
  color: #F9A850; }

.color_link {
  color: #F9A850; }

.color_black {
  color: #000; }

.font_size_xs,
.font_size_12 {
  font-size: 12px; }

.font_size_s,
.font_size_14 {
  font-size: 14px; }

.font_size_m,
.font_size_16 {
  font-size: 16px; }

.font_size_b,
.font_size_18 {
  font-size: 18px; }

.font_size_bb,
.font_size_32 {
  font-size: 32px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.scroll_horizon {
  display: flex !important;
  /* [1] */
  flex-wrap: nowrap !important;
  /* [1] */
  overflow-x: auto !important;
  /* [1] */
  -webkit-overflow-scrolling: touch;
  /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* [5] */ }

.btn_scroll_top {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 18px;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgb(red(black), 0, 0 );
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.main_content {
  margin-bottom: 20px; }

.main_colright {
  width: 900px;
  margin-left: auto; }

.intro_home {
  background: url("/images/banner-mobile.png") no-repeat 50% 100%;
  background-size: 100%;
  min-height: 350px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .intro_home {
      min-height: 510px; } }
  @media (min-width: 1200px) {
    .intro_home {
      background: none;
      min-height: 600px; } }

.intro_home_body {
  max-width: 490px;
  padding: 15px 0;
  font-weight: 400; }
  @media (min-width: 768px) {
    .intro_home_body {
      padding: 50px 0; } }
  .intro_home_body hr {
    margin: 15px 0;
    max-width: 100px;
    border-width: 2px;
    border-color: #CCCCCC; }

.intro_home_title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700; }
  @media (min-width: 540px) {
    .intro_home_title {
      font-size: 28px; } }

.intro_home_des {
  font-size: 14px;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .intro_home_des {
      font-size: 24px; } }

.intro_home_content {
  font-size: 12px; }
  @media (min-width: 768px) {
    .intro_home_content {
      font-size: 14px; } }

.intro_home_btn {
  font-size: 18px;
  padding: 10px 20px; }

.header_search {
  position: relative;
  display: none; }
  @media (min-width: 1200px) {
    .header_search {
      display: block; } }

.header_search_frm {
  display: flex;
  align-items: center; }
  .header_search_frm.open .header_search_input {
    width: 410px;
    padding: 9px 10px;
    border: solid 1px #F9A850;
    opacity: 1;
    visibility: visible; }
  .header_search_frm.open .header_search_button {
    background: #F9A850;
    color: white; }
  .header_search_frm .header_search_input {
    width: 0;
    overflow: hidden;
    padding: 0;
    border: none;
    position: absolute;
    right: 100%;
    top: 0;
    font-size: 18px;
    margin: 0 -2px 0 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .header_search_frm .header_search_button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 10px;
    outline: none;
    font-size: 18px;
    min-width: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.search_mobile {
  display: block;
  margin: 0 0 15px; }
  @media (min-width: 992px) {
    .search_mobile {
      display: none; } }

.search_mobile_frm {
  display: flex; }
  .search_mobile_frm .search_mobile_input {
    width: 100%;
    border-color: #F9A850;
    border-right: none;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .search_mobile_frm .search_mobile_button {
    border: none;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .search_mobile_frm .search_mobile_button i {
      margin: 0; }

#breadcrums {
  padding: 5px 0;
  margin-bottom: 15px;
  margin-right: 15px;
  align-items: center;
  display: none; }
  @media (min-width: 768px) {
    #breadcrums {
      display: flex; } }

.breadcrum_item {
  margin-right: 10px; }
  .breadcrum_item a {
    margin-right: 5px; }
  .breadcrum_item--current {
    color: #F9A850; }

i.breadcrum_arrow {
  font-size: 12px; }

.pagination_container {
  display: flex;
  align-items: center; }
  .pagination_container > span {
    display: inline-block;
    margin-right: 5px; }

.pagination_lst {
  display: flex;
  align-items: center; }

.pagination_number {
  background: #E6E6E6;
  display: inline-block;
  margin: 0 2px;
  padding: 2px 5px;
  min-width: 23px;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .pagination_number.current {
    color: white;
    background-color: #F8A136;
    background-image: -webkit-linear-gradient(left, #F8A136, #F79721);
    /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image: linear-gradient(to right, #F8A136, #F79721);
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }

#subcribe {
  border-bottom: solid 1px #CCCCCC;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 15px; }

.subcribe_title {
  font-size: 16px;
  margin: 0 0 15px; }

.subcribe_summary {
  margin: 0 auto 15px; }

.subcribe_form {
  margin: 0 0 15px; }

.subcribe_form_inner {
  background: white;
  max-width: 725px;
  overflow: hidden;
  min-height: 40px;
  margin: 0 auto;
  display: flex;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .subcribe_form_inner .input_subcribe {
    flex: 1;
    padding: 0 15px;
    border-right: solid 1px #CCCCCC;
    -webkit-border-radius: 40px 0 0 40px;
    border-radius: 40px 0 0 40px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .subcribe_form_inner .input_subcribe:focus {
      border-color: #ccc; }
  .subcribe_form_inner .btn_subcribe_submit {
    padding: 0 15px;
    border: none;
    -webkit-border-radius: 0 40px 40px 0;
    border-radius: 0 40px 40px 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }

.subcribe_text {
  margin: 0 auto; }

.copyright {
  background-color: #F8A136;
  background-image: -webkit-linear-gradient(left, #F8A136, #F79721);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: linear-gradient(to right, #F8A136, #F79721);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }
  .copyright p {
    margin: 0;
    color: white;
    padding: 20px 0; }

.language_pc {
  height: 30px;
  align-items: center;
  font-size: 0;
  display: none; }
  @media (min-width: 540px) {
    .language_pc {
      font-size: 12px; } }
  @media (min-width: 1200px) {
    .language_pc {
      font-size: 14px;
      display: flex; } }

.language_pc_item {
  margin: 0 15px 0 0; }
  .language_pc_item a {
    display: flex;
    align-items: center;
    color: white; }
  .language_pc_item img {
    margin: 0 5px 0 0;
    width: 18px; }

.language_mobile {
  display: flex;
  align-items: center;
  font-size: 12px; }
  @media (min-width: 1200px) {
    .language_mobile {
      display: none; } }

.language_mobile_item {
  flex: 1;
  text-align: center;
  margin: 0 3px; }
  .language_mobile_item.selected a {
    border-color: #F9A850;
    color: #F9A850; }
  .language_mobile_item a {
    display: block;
    padding: 5px;
    border: solid 1px #4D4D4D;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .language_mobile_item img {
    width: 18px; }

.block_container {
  padding: 15px 0; }
  @media (min-width: 768px) {
    .block_container {
      padding: 30px 0; } }
  .block_container .slick-dots button:before {
    color: #F9A850;
    font-size: 12px; }
  .block_container .slick-dots li.slick-active button:before {
    font-size: 14px;
    color: #F9A850; }

.block_header {
  margin: 60px 0;
  text-align: center;
  border-bottom: solid 2px #CCCCCC;
  position: relative; }

.block_title {
  background: white;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 10px;
  display: inline-block;
  border: solid 2px #CCCCCC;
  color: #000;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  @media (min-width: 768px) {
    .block_title {
      padding: 10px 30px;
      font-size: 24px; } }

.feature {
  margin-bottom: 50px; }

.feature_box {
  background: #F2F2F2;
  text-align: center;
  min-height: 400px;
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .feature_box:hover {
    -webkit-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3);
    -moz-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3);
    box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3); }

.feature_body {
  padding: 15px; }

.feature_thumb {
  margin: 0 0 30px; }

.feature_name {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px; }

.feature_col {
  flex: 0 0 80%; }

.advisory_container {
  background: #F2F2F2;
  padding: 15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.advisory_title {
  font-size: 24px;
  margin-bottom: 15px;
  color: #F9A850;
  padding: 0 0 0 10px;
  border-left: solid 3px #F9A850; }

.advisory_name {
  color: #F9A850;
  font-size: 18px; }

.advisory_content {
  padding: 0; }
  @media (min-width: 768px) {
    .advisory_content {
      padding: 0 0 0 15px; } }

.advisory_form {
  padding: 40px 0; }

.advisory_form_row {
  margin-bottom: 15px; }
  .advisory_form_row fieldset {
    border: none;
    padding: 0;
    margin: 0; }
  .advisory_form_row label {
    font-weight: 400; }
  .advisory_form_row .input_common {
    display: block;
    width: 100%; }

.estimate_container {
  background: url("../../images/bg-estimate.png") no-repeat 50% 50%;
  background-size: cover;
  padding: 15px;
  color: white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.estimate_title {
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
  padding: 0 0 0 10px;
  border-left: solid 3px white; }
  @media (min-width: 992px) {
    .estimate_title {
      font-size: 32px; } }

.estimate_name {
  color: #F9A850;
  font-size: 18px; }

.estimate_content {
  padding: 30px 0; }
  .estimate_content ul {
    padding: 0 0 0 30px; }

.estimate_form {
  padding: 15px 0; }

.estimate_form_row {
  margin: 0 0 15px; }
  @media (min-width: 768px) {
    .estimate_form_row {
      margin: 0 0 15px 15px; } }
  .estimate_form_row fieldset {
    border: none;
    padding: 0;
    margin: 0; }
  .estimate_form_row label {
    font-weight: 400; }
  .estimate_form_row .input_common {
    display: block;
    width: 100%; }
  .estimate_form_row h5 {
    font-size: 16px;
    font-weight: 700; }
  .estimate_form_row select {
    display: block; }

.order_query {
  background: #F2F2F2;
  padding: 15px;
  margin: 0 auto 15px;
  max-width: 720px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0 0 5px rgba(35, 31, 32, 0.3);
  -moz-box-shadow: 0 0 5px rgba(35, 31, 32, 0.3);
  box-shadow: 0 0 5px rgba(35, 31, 32, 0.3); }
  @media (min-width: 1200px) {
    .order_query {
      background: rgba(255, 255, 255, 0.95);
      max-width: 320px;
      min-height: 270px;
      position: absolute;
      top: 30px;
      right: 0; } }

.order_query_header {
  margin-bottom: 10px;
  padding-left: 15px;
  border-left: solid 3px #F9A850; }

.order_query_title {
  font-weight: 400;
  font-size: 16px; }

.order_query_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px; }

.order_query_option {
  display: inline-block;
  padding: 10px 5px;
  width: 45%;
  border: solid 1px #CCCCCC;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .order_query_option.active {
    background: white;
    color: #F9A850; }

.order_query_panel {
  background: transparent;
  padding: 10px 0; }
  @media (min-width: 1200px) {
    .order_query_panel {
      background: white; } }

.order_query_form {
  display: none; }
  .order_query_form.active {
    display: block; }

.order_query_input {
  display: block;
  width: 100%;
  margin-bottom: 10px; }

.order_query_btn {
  text-align: center;
  margin: 0 0 5px; }
  .order_query_btn a {
    margin: 0; }
    .order_query_btn a.button_send {
      background: white;
      border: solid 1px #F7981D;
      color: #F9A850; }

.order_query_capcha {
  display: flex; }
  .order_query_capcha .input_common {
    flex: 1;
    margin: 0; }
  .order_query_capcha span {
    background: #F2F2F2;
    margin: 0 0 0 10px;
    text-transform: uppercase;
    padding: 5px 15px;
    font-weight: 400; }

.order_query_news li {
  padding: 5px 0; }

.order_query_news a {
  color: #000; }
  @media (min-width: 992px) {
    .order_query_news a {
      color: #F9A850; } }

.order_query_news i {
  margin: 0 5px 0 0; }

.category_top {
  margin-bottom: 30px;
  position: relative; }
  @media (min-width: 992px) {
    .category_top .order_query {
      position: inherit;
      top: 50%;
      right: 0;
      margin: 0;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      transform: translate(0%, -50%); }
    .category_top .container {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      height: 100%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }

.category_col {
  margin-bottom: 15px; }
  @media (min-width: 992px) {
    .category_col {
      margin-bottom: 0; } }

.category_slide {
  margin-bottom: 15px; }
  .category_slide .swiper-pagination {
    bottom: 10px; }

.category_slide_item {
  display: block;
  position: relative; }
  .category_slide_item::before {
    content: '';
    display: block;
    padding-top: 56.25%; }
  @media (min-width: 992px) {
    .category_slide_item::before {
      padding-top: 25%; } }
  .category_slide_item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.category_top_content {
  background: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 15px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  position: absolute;
  top: 15px;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .category_top_content h2 {
    font-size: 18px;
    margin: 0 0 10px; }
  .category_top_content hr {
    width: 50%;
    border-color: white; }
  @media (min-width: 768px) {
    .category_top_content {
      top: 20%; } }
  @media (min-width: 992px) {
    .category_top_content {
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .category_top_content h2 {
        font-size: 32px;
        margin: 0 0 10px; } }

.service_item {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: -2px 2px 3px rgba(35, 31, 32, 0.3);
  -moz-box-shadow: -2px 2px 3px rgba(35, 31, 32, 0.3);
  box-shadow: -2px 2px 3px rgba(35, 31, 32, 0.3); }

.service_header {
  position: relative; }

.service_name {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  border-left: solid 3px white; }

.service_body {
  padding: 15px; }
  @media (min-width: 768px) {
    .service_body {
      padding: 15px; } }

.service_news {
  display: flex; }

.service_thumb {
  display: block;
  margin: 0 15px 0 0; }

.service_content {
  flex: 1; }
  .service_content p {
    max-height: 60px;
    overflow: hidden; }

.service_title {
  margin-bottom: 5px;
  font-size: 16px; }

#block_highlight_news .slick-arrow::before {
  color: #F9A850;
  font-size: 32px; }

.highlight_news_slide {
  padding-bottom: 30px;
  min-height: 325px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .highlight_news_slide.swiper-container-initialized {
    opacity: 1;
    visibility: visible; }

#block_partner {
  margin-bottom: 30px;
  background-color: #F79721;
  background-image: -webkit-linear-gradient(left, #F79721, #F8A136);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: linear-gradient(to right, #F79721, #F8A136);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }
  #block_partner .swiper-pagination {
    bottom: 0; }

.partner_slide {
  padding-bottom: 30px; }

.partner_header {
  text-align: center;
  color: white;
  padding: 15px 0;
  margin-bottom: 20px;
  position: relative; }
  .partner_header::before {
    content: '';
    background: white;
    width: 200px;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }

.partner_title {
  font-size: 26px;
  margin: 0; }

.partner_body {
  padding: 20px 0;
  overflow: hidden; }

.partner_item {
  margin: 15px 0; }
  .partner_item img {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }

#block_suggest .block_body {
  background: #F2F2F2;
  padding: 30px 0;
  margin-top: -60px; }

#block_suggest .swiper-button-next,
#block_suggest .swiper-button-prev {
  background: #F2F2F2;
  width: auto;
  padding: 0 5px;
  color: #F9A850;
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 100%; }

#block_suggest .swiper-button-next {
  right: 0; }

#block_suggest .swiper-button-prev {
  left: 0; }

.suggest_scroll {
  padding: 10px 20px;
  border-bottom: solid 1px #CCCCCC;
  margin-bottom: 30px; }

.suggest_scroll_item {
  background: transparent;
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
  font-weight: 400;
  white-space: nowrap;
  width: auto;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .suggest_scroll_item.active {
    background: #F9A850;
    color: white; }

.suggest_item_row {
  margin-bottom: 30px; }

.suggest_item_col {
  padding-left: 5px;
  padding-right: 5px; }
  @media (min-width: 992px) {
    .suggest_item_col {
      padding-left: 15px;
      padding-right: 15px; } }

.suggest_item {
  background: white;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .suggest_item:hover {
    -webkit-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3);
    -moz-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3);
    box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3); }
  @media (min-width: 992px) {
    .suggest_item {
      margin-bottom: 0; } }

.suggest_item_url {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.suggest_item_body {
  padding: 10px; }
  @media (min-width: 992px) {
    .suggest_item_body {
      padding: 20px; } }

.suggest_item_url {
  display: block;
  margin-bottom: 5px; }

.suggest_item_name {
  margin-bottom: 5px;
  font-size: 16px; }

.suggest_item_content {
  margin-bottom: 0; }

.suggest_item_link {
  position: relative;
  padding: 0 0 5px 20px;
  display: block; }
  .suggest_item_link i {
    vertical-align: middle;
    margin: 0 5px 0 0;
    color: #F9A850;
    position: absolute;
    left: 0;
    top: 2px; }

.block_sidebar {
  background: #F2F2F2;
  border: solid 1px #CCCCCC;
  padding: 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.block_sidebar_header {
  margin: 0 0 15px; }

.block_sidebar_title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0 10px;
  border-left: solid 2px #F9A850; }

.sidebar_category {
  margin: 0 0 10px; }

.sidebar_category_name {
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 5px; }

.sidebar_category_lst {
  padding: 0 0 0 15px; }

.sidebar_category_item {
  font-size: 12px;
  padding: 2px 0 2px 15px;
  position: relative; }

.sidebar_category_item a {
  display: block; }
  .sidebar_category_item a i {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 10px; }

.lastest_news_item {
  display: flex;
  margin-bottom: 15px; }

.lastest_news_content {
  flex: 1; }

.lastest_news_thumb {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 15px 0 0; }
  .lastest_news_thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.lastest_news_title {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 12px;
  max-height: 30px;
  overflow: hidden; }

.lastest_news_time {
  font-size: 12px; }

.article_body {
  margin-bottom: 30px; }

.article_summary {
  background: #F2F2F2;
  border: solid 1px #CCCCCC;
  padding: 10px;
  float: left;
  margin: 0 0 15px;
  width: 100%;
  min-width: 290px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  @media (min-width: 540px) {
    .article_summary {
      width: auto;
      margin: 0 15px 15px 0; } }
  .article_summary h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px; }
  .article_summary ul {
    padding-left: 15px; }
    .article_summary ul li {
      padding: 2px 0; }

.article_share {
  margin-bottom: 15px; }
  .article_share strong {
    display: inline-block;
    margin-bottom: 5px; }

.article_author {
  text-align: left; }
  @media (min-width: 540px) {
    .article_author {
      text-align: right; } }

.lst_news_slide .slick-arrow::before {
  color: #F9A850;
  font-size: 32px; }

.lst_news {
  text-align: center; }

.lst_news_thumb {
  display: block;
  margin-bottom: 15px;
  position: relative;
  width: 100%; }
  .lst_news_thumb:after {
    content: '';
    display: block;
    padding-bottom: 68.63%; }
  .lst_news_thumb img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.lst_news_title {
  font-size: 16px;
  margin-bottom: 15px;
  max-height: 40px;
  overflow: hidden; }

.lst_news_des {
  max-height: 60px;
  overflow: hidden; }

.exchange_rate {
  color: white;
  text-align: center;
  padding: 5px 10px;
  border: solid 2px white;
  font-weight: 400;
  display: inline-block;
  position: relative;
  min-width: 200px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .exchange_rate:hover {
    opacity: 1;
    color: white;
    -webkit-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3);
    -moz-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3);
    box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3); }
    .exchange_rate:hover .exchange_rate_info {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      transform: translate(0, 0); }
  .exchange_rate img {
    margin: 0 5px 0 0; }
  .exchange_rate i {
    margin: 0 0 0 5px; }

.exchange_rate_info {
  background: white;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  transform: translate(0, -5px); }

.exchange_rate_item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #000;
  padding: 5px 0;
  border-bottom: solid 1px #E6E6E6; }
  .exchange_rate_item span {
    flex: 1;
    text-align: left; }
  .exchange_rate_item strong {
    flex: 1;
    text-align: right; }
  .exchange_rate_item:last-child {
    border: none; }

.input_common {
  background: white;
  font-family: "Roboto", sans-serif;
  border: solid 1px #CCCCCC;
  font-size: 14px;
  outline: none;
  padding: 6px 10px;
  box-shadow: none;
  color: #000;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  outline: none; }

.select_wrap {
  border: solid 1px #CCCCCC;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .select_wrap:hover {
    border-color: #F9A850;
    cursor: pointer; }
  .select_wrap::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    border-style: solid;
    height: 0;
    width: 0;
    border-color: #CCCCCC transparent transparent transparent;
    border-width: 6px 5px 0 5px; }
  .select_wrap select.select_common {
    background: white;
    height: 30px;
    display: block;
    border: none;
    padding: 0 20px 0 10px;
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    /*Removes default chrome and safari style*/
    -moz-appearance: none;
    /*Removes default style Firefox*/
    appearance: none; }
    .select_wrap select.select_common:focus {
      outline: none; }

textarea {
  width: 100%; }

.input_common {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .input_common:focus {
    box-shadow: none;
    border-color: #F9A850; }

.input[type="checkbox"] {
  margin-right: 5px; }

.button_primary {
  background: #F7981D;
  color: white;
  text-align: center;
  padding: 5px 10px;
  border: solid 2px white;
  font-weight: 400;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .button_primary:hover {
    opacity: 0.85;
    color: white;
    -webkit-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3);
    -moz-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3);
    box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3); }
  .button_primary i {
    margin: 0 0 0 5px; }
    .button_primary i:only-child {
      margin: 0; }
  .button_primary.button_gradient {
    background-color: #F8A136;
    background-image: -webkit-linear-gradient(left, #F8A136, #F79721);
    /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image: linear-gradient(to right, #F8A136, #F79721);
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }

#footer {
  background: white; }

.license {
  padding: 15px 0; }

.footer_before {
  border-bottom: solid 1px #CCCCCC;
  margin-bottom: 15px;
  padding-bottom: 15px; }
  @media (min-width: 768px) {
    .footer_before {
      margin-bottom: 30px; } }
  .footer_before p {
    margin: 0; }

.footer_logo {
  margin: 0 0 15px;
  padding: 15px 0; }
  .footer_logo img {
    width: 160px; }

.footer_col_name {
  font-size: 16px;
  margin: 0 0 15px; }

.footer_col_body {
  margin: 0 0 20px; }

.footer_menu_item {
  margin: 5px 0; }
  .footer_menu_item a {
    color: #000;
    display: inline-block; }
    .footer_menu_item a:hover {
      color: #F9A850; }

.fanpage {
  margin: 0 0 15px; }

.footer_app_btn {
  display: flex;
  justify-content: space-between; }
  .footer_app_btn a:hover {
    opacity: 0.7; }

.footer_social {
  display: flex; }
  .footer_social a {
    display: inline-block;
    margin: 0 5px; }
    .footer_social a:hover {
      opacity: 0.8; }

#header {
  background: white;
  padding: 15px 0;
  font-size: 12px;
  position: relative; }
  @media (min-width: 992px) {
    #header {
      background: transparent;
      padding: 30px 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #header.fixed {
        position: fixed;
        z-index: 11;
        background: white;
        width: 100%;
        top: 0;
        padding: 5px 0;
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); } }

.header_container {
  display: flex;
  align-items: center; }

.header_col--left {
  margin: 0 15px 0 0; }

.header_col--center {
  width: 650px;
  padding: 0 15px; }

.header_col--right {
  flex: 1; }

.hotline {
  background: #F9A850;
  margin-left: auto;
  display: flex;
  align-items: center;
  color: white;
  padding: 5px 10px;
  border: solid 2px white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3);
  -moz-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3);
  box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.3); }
  .hotline span {
    background: white;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    @media (min-width: 768px) {
      .hotline span {
        width: 35px;
        height: 35px; } }
    .hotline span i {
      color: #F9A850;
      font-size: 12px; }
      @media (min-width: 768px) {
        .hotline span i {
          font-size: 18px; } }
  .hotline div {
    font-size: 12px; }
    .hotline div strong {
      font-size: 12px; }
      @media (min-width: 768px) {
        .hotline div strong {
          font-size: 16px; } }

#nav_main {
  font-size: 14px;
  font-weight: 400; }

.nav_container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/*Nav icon*/
#humbuger_icon {
  width: 20px;
  height: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  @media (min-width: 1200px) {
    #humbuger_icon {
      display: none; } }
  #humbuger_icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
    #humbuger_icon span:nth-child(1) {
      top: 0; }
    #humbuger_icon span:nth-child(2) {
      top: 6px; }
    #humbuger_icon span:nth-child(3) {
      top: 6px; }
    #humbuger_icon span:nth-child(4) {
      top: 13px; }
  #humbuger_icon.open {
    z-index: 9999; }
  #humbuger_icon.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%; }
  #humbuger_icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); }
  #humbuger_icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #humbuger_icon.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%; }

.navmain_collapse {
  background: white;
  position: fixed;
  top: 0;
  left: -285px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 280px;
  z-index: 9999;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  overflow: inherit;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  @media (min-width: 1200px) {
    .navmain_collapse {
      background: inherit;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      position: inherit;
      width: inherit;
      left: inherit;
      padding: inherit;
      z-index: inherit; } }
  .navmain_collapse.open {
    flex-direction: column;
    -webkit-transform: translate3d(285px, 0px, 0);
    -moz-transform: translate3d(285px, 0px, 0);
    transform: translate3d(285px, 0px, 0); }

.navigation_lst {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 15px;
  margin-bottom: 15px;
  min-height: 60px;
  border-bottom: solid 1px #CCCCCC;
  position: relative; }
  @media (min-width: 1200px) {
    .navigation_lst {
      padding-bottom: 0;
      margin-bottom: 0;
      flex-direction: row;
      border: none;
      align-items: center;
      border-bottom: none; } }

.nav_item {
  display: block;
  height: auto;
  line-height: inherit;
  color: #000;
  font-weight: 400;
  border: solid 2px white;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  @media (min-width: 1200px) {
    .nav_item {
      margin: 0; }
      .nav_item.active, .nav_item:hover {
        background: #F7981D; }
        .nav_item.active a, .nav_item:hover a {
          color: white; } }
  .nav_item > a {
    display: block;
    padding: 5px 10px; }
    .nav_item > a i {
      vertical-align: middle;
      margin: 0 0 0 5px; }
  .nav_item.has_child.active, .nav_item.has_child:hover {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .nav_item.has_child.active .mega_menu, .nav_item.has_child:hover .mega_menu {
      opacity: 1;
      visibility: visible;
      top: 29px; }

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    overflow: hidden; }

html.open_menu,
html.open_menu body {
  overflow: hidden; }

@media (min-width: 1200px) {
  .mega_menu {
    display: flex;
    z-index: 1111;
    left: 0;
    padding: 15px 0;
    opacity: 0;
    visibility: hidden;
    background: #F7981D;
    position: absolute;
    top: 40px;
    min-width: 200px;
    border: solid 2px white;
    border-top: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.1);
    -moz-box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.1);
    box-shadow: -2px 2px 0px rgba(35, 31, 32, 0.1); } }

.mega_menu_col {
  white-space: nowrap; }

.mega_menu_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px; }

.mega_menu_lst {
  list-style: none;
  font-size: 12px;
  padding: 0 0 0 10px; }
  @media (min-width: 1200px) {
    .mega_menu_lst {
      padding: 0; } }

.mega_menu_item {
  padding: 2px 0; }
  .mega_menu_item a {
    position: relative;
    padding: 0 0 0 15px; }
    .mega_menu_item a i {
      position: absolute;
      left: 5px;
      top: 3px; }

.topbar {
  background: #F7981D;
  color: white;
  padding: 5px 0;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

.topbar_col--left {
  display: flex;
  align-items: center; }

.topbar_col--right {
  display: flex; }

.topbar_item {
  padding: 0 10px; }

.topbar_menu {
  font-size: 12px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
  display: none; }
  @media (min-width: 768px) {
    .topbar_menu {
      display: flex; } }
  @media (min-width: 992px) {
    .topbar_menu {
      font-size: 14px; } }
  .topbar_menu li {
    padding: 0 10px;
    border-right: solid 1px white; }
    .topbar_menu li:last-child {
      border-right: none; }
    .topbar_menu li a {
      color: white; }

.topbar_menu_mobile {
  display: inherit; }
  @media (min-width: 992px) {
    .topbar_menu_mobile {
      display: none; } }

#sidebar {
  width: 285px; }

#logo {
  margin: 0 15px 0 0; }
  @media (min-width: 540px) {
    #logo {
      margin: 0 40px 0 0; } }
  #logo a {
    display: block;
    font-size: 0; }
  #logo img {
    width: 60px; }
    @media (min-width: 425px) {
      #logo img {
        width: 130px; } }
  #logo strong {
    position: absolute;
    text-indent: -9999em; }

#page_home {
  background: none; }
  @media (min-width: 1200px) {
    #page_home {
      background: url("../../images/bg-home.png") no-repeat 50% 0;
      min-height: 800px; }
      #page_home.fixed {
        background-position: 50% -120px; } }

.category_title {
  font-size: 18px;
  padding: 0 0 0 15px;
  border-left: solid 3px #F9A850; }

.article_container {
  margin-bottom: 50px; }

.article_header {
  margin-bottom: 15px; }

.article_title {
  font-size: 18px;
  margin-bottom: 15px; }

.article_header_meta {
  display: flex;
  margin: 0 0 15px;
  font-size: 12px; }
  @media (min-width: 768px) {
    .article_header_meta {
      font-size: 14px; } }
  .article_header_meta i {
    margin: 0 5px 0 0; }

.article_publised_date {
  margin: 0 15px 0 0; }

#page_contact {
  background: none; }

.contact_block {
  margin: 0 0 30px; }

.contact_block_header {
  padding: 10px 0;
  border-bottom: solid 1px #707070;
  margin: 0 0 15px;
  position: relative; }
  .contact_block_header::before {
    content: '';
    background: #F9A850;
    display: block;
    width: 120px;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0; }

.contact_block_title {
  font-size: 18px;
  font-weight: 400;
  margin: 0; }

.contact_form .contact_form_row {
  margin-bottom: 25px; }

.contact_form label {
  display: block;
  margin: 0 0 10px;
  font-size: 16px; }

.contact_form input.input_common {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px; }

.contact_address {
  margin: 0 0 30px; }
  .contact_address h4 {
    font-size: 16px;
    margin: 0 0 15px;
    font-weight: 400;
    padding: 0 0 10px;
    position: relative; }
    .contact_address h4::before {
      content: '';
      background: #F9A850;
      display: block;
      width: 40px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0; }

.contact_button_send {
  font-size: 18px;
  padding: 15px;
  min-width: 200px; }

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }
