// Base stuff
@import "base/_normalize";
@import "base/_typography";

// Sass utilities
@import "helpers/_functions";
@import "helpers/_mixins";
@import "helpers/_variables";
@import "helpers/_extends";
@import "helpers/_common";

// Components and modules
@import "components/_banner";
@import "components/_header-search";
@import "components/_mobile-search";
@import "components/_breadcrum";
@import "components/_pagination";
@import "components/_subcribe";
@import "components/_copy-right";
@import "components/_language";
@import "components/_block";
@import "components/_feature";
@import "components/_advisory";
@import "components/_estimate";
@import "components/_order-query";
@import "components/_category-top";
@import "components/_block-services";
@import "components/_block-highlight";
@import "components/_block-partner";
@import "components/_block-suggest";
@import "components/_block-sidebar";
@import "components/_block-lastest-news";
@import "components/_article-detail";
@import "components/_list-news";
@import "components/_exchange-rate";

@import "partials/_form";
@import "partials/_fields";
@import "partials/_button";
@import "partials/_text_heading";

// Layout related stylesheets
@import "layout/_footer";
@import "layout/_header";
@import "layout/_navmain";
@import "layout/_topbar";
@import "layout/_sidebar";
@import "layout/_logo";

// Page-specific stylesheets
@import "pages/_page-home";
@import "pages/_page-category";
@import "pages/_page-detail";
@import "pages/_page-contact";


// Vendors and external stylesheets



body {background-color: $color-base;font-family: $font-base; color: $color-text; font-weight: $font-thin;font-size: $font-size-s;line-height: 1.4;-webkit-font-smoothing: antialiased;overflow-x: hidden}

