#footer{background: white}
.license {padding: 15px 0}
.footer_before {border-bottom: solid 1px $color-border;margin-bottom: 15px;padding-bottom: 15px;

  @media (min-width: $bp-md) {
    margin-bottom: 30px;
  }
  p {margin: 0}
}

.footer_logo {margin: 0 0 15px;padding: 15px 0;
  img {width: 160px}
}
.footer_col {}
.footer_col_name {font-size: $font-size-m;margin: 0 0 15px;}
.footer_col_body {margin: 0 0 20px}
.footer_menu {
  @extend %reset-lst;
}
.footer_menu_item {margin: 5px 0;
  a {color: $color-text;display: inline-block;
    &:hover {color: $color-orange}
  }
}

.fanpage {margin: 0 0 15px}
.footer_app_btn {display: flex;justify-content: space-between;
  a:hover{opacity: 0.7}
}
.footer_social {display: flex;
  a {display: inline-block;margin: 0 5px;
    &:hover {opacity: 0.8}
  }
}