#logo {margin: 0 15px 0 0;
  @media (min-width: $bp-mobile) {
    margin: 0 40px 0 0;
  }
  a {display: block;font-size: 0}
  img {width: 60px;
    @media (min-width: $bp-xs) {
      width: 130px;
    }
  }
  strong {position: absolute;text-indent: -9999em}
}