.topbar {background: $color-orange-secondary;color: white;padding: 5px 0;position: relative;z-index: 2;
  @include box-shadow(0 ,2px, 5px, rgba(0,0,0, 0.1))
}
.topbar_col{
  &--left {display: flex;align-items: center}
  &--right {display: flex;}
}
.topbar_item {padding: 0 10px}

.topbar_menu {font-size: $font-size-xs;align-items: center;justify-content: flex-end;width: 100%;text-align: right;display: none;
  @media (min-width: $bp-md) {
    display: flex;
  }
  @media (min-width: $bp-l) {
      font-size: $font-size-s;
  }
  @extend %reset-lst;
  li {padding: 0 10px;border-right: solid 1px white;
    &:last-child {border-right: none}
    a {color: white}
  }
}

.topbar_menu_mobile {display: inherit;
  @media (min-width: $bp-l) {
    display: none;
  }
}