<div class="advisory">
    <div class="container">
        <div class="advisory_container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="advisory_title">Đăng ký tư vấn</h4>
                    <div class="advisory_content">
                        <h4 class="advisory_name">
                            iChiba Mua hộ và Đấu giá hàng Nhật
                        </h4>
                        <div class="advisory_article">
                            Ichiba là công ty thương mại điện tử hàng đầu tại Việt Nam trong lĩnh vực Kho vận, hậu cần, vận chuyển hàng Nhật Việt, Mua hộ và đấu giá hàng Nhật.
                            Chúng tôi cung cấp những dịch vụ và giải pháp tốt nhất giúp
                            bạn giải quyết mọi khó khăn trong việc Đấu giá và vận chuyển hàng Nhật Việt.
                            <br/>
                            <br/>

                            Ichiba vô cùng tự hào khi đã giúp được hàng ngàn cá nhân cũng như doanh nghiệp  tại Việt Nam tiếp cận được với thị trường Nhật
                            và sản phẩm Nhật nội địa chất lượng cao với chi phí thấp nhất.
                            <br/>
                            <br/>

                            Chúng tôi đi tiên phong trong việc ứng dụng công nghệ thông tin vào lĩnh vực Mua hộ & đấu giá hàng Nhật. Quý khách có thể dễ dàng mua hàng tại tại Nhật Bản như mua hàng tại Việt Nam mọi lúc mọi nơi 24/7.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="advisory_form">
                        <div class="advisory_form_row row">
                            <div class="col-12">
                                <fieldset>
                                    <label for="name">Họ và tên*</label>
                                    <input type="text" class="input_common" id="name" placeholder="Nhập họ tên"/>
                                </fieldset>
                            </div>
                        </div>
                        <div class="advisory_form_row row">
                            <div class="col-6">
                                <fieldset>
                                    <label for="email">Email*</label>
                                    <input type="text" class="input_common" id="email" placeholder="Nhập email"/>
                                </fieldset>
                            </div>
                            <div class="col-6">
                                <fieldset>
                                    <label for="phone">Số điện thoại*</label>
                                    <input type="text" class="input_common" id="phone" placeholder="Nhập số điện thoại"/>
                                </fieldset>
                            </div>
                        </div>
                        <div class="advisory_form_row row">
                            <div class="col-12">
                                <fieldset>
                                    <label for="content">Nội dung cần tư vấn</label>
                                    <textarea rows="5" class="input_common" id="content" placeholder="Nhập nội dung">

                                    </textarea>
                                </fieldset>
                            </div>
                        </div>
                        <div class="advisory_form_row row">
                            <div class="col-12 text-center">
                                <br>
                                <a href="#" class="button_primary button_gradient banner_home_btn">Gửi yêu cầu tư vấn <i class="fas fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>