<article class="article_body clearfix">
    <div class="article_summary">
        <h5>Tóm tắt nội dung</h5>
        <ul>
            <li>
                <a href="#">1. Mục lục 1</a>
                <ul>
                    <li>
                        <a href="#">1.1. Mục lục 1.1</a>
                    </li>
                    <li>
                        <a href="#">1.1. Mục lục 1.2</a>
                        <ul>
                            <li>
                                <a href="#">1.2.1 Mục lục 1.3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">1. Mục lục 1</a>
                <ul>
                    <li>
                        <a href="#">1.1. Mục lục 1.1</a>
                    </li>
                    <li>
                        <a href="#">1.1. Mục lục 1.2</a>
                        <ul>
                            <li>
                                <a href="#">1.2.1 Mục lục 1.3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">1. Mục lục 1</a>
                <ul>
                    <li>
                        <a href="#">1.1. Mục lục 1.1</a>
                    </li>
                    <li>
                        <a href="#">1.1. Mục lục 1.2</a>
                        <ul>
                            <li>
                                <a href="#">1.2.1 Mục lục 1.3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    <img src="https://via.placeholder.com/600x300/" alt="" width=""/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

    <div class="article_footer">
        <div class="row">
            <div class="col-md-6 article_share">
                <strong>Chia sẻ bài viết:</strong>
                <div class="article_share_icon">
                    <a href="#"><img src="/images/icon-twitter.png" alt="" width="20"/></a>
                    <a href="#"><img src="/images/icon-gg.png" alt="" width="20"/></a>
                    <a href="#"><img src="/images/icon-fb.png" alt="" width="20"/></a>
                    <a href="#"><img src="/images/icon-pinter.png" alt="" width="20"/></a>
                </div>
            </div>
            <div class="col-md-6 article_author">
                <strong>Tác giả:</strong> iChiba - Đấu giá & Mua hộ hàng Nhật
            </div>
        </div>
    </div>
</article>