<div class="intro_home">
    <div class="intro_home_body">
        <div class="intro_home_des">
            Đơn vị cung cấp dịch vụ Vận chuyển
            Mua hộ & Đấu giá hàng Nhật
        </div>
        <div class="intro_home_title">
            UY TÍN VÀ CHẤT LƯỢNG ICHIBA.VN
        </div>
        <hr/>
        <p class="intro_home_content">
            ICHIBA.VN là sản phẩm của Công ty cổ phần iChiba Việt Nam.
            Chúng tôi là đơn vị đi đầu trong lĩnh vực Kho vận, hậu cần,
            vận chuyển hàng Nhật Việt, Mua hộ và đấu giá hàng Nhật.
        </p>
        <a href="#" class="button_primary button_gradient intro_home_btn">Chi tiết <i class="fas fa-angle-double-right"></i></a>
    </div>
</div>