{%  set arrServices = [
        {service_name: 'Dịch vụ vận chuyển', service_img: '/images/service-1.png'},
        {service_name: 'Dịch vụ Hậu cần, kho vận', service_img: '/images/service-2.png'},
        {service_name: 'Dịch vụ mua hộ', service_img: '/images/service-3.png'},
        {service_name: 'Dịch vụ Ủy thác Xuất, Nhập khẩu', service_img: '/images/service-4.png'},
        {service_name: 'Dịch vụ thương mại điện tử', service_img: '/images/service-5.png'},
    ]
%}

<div class="block_container" id="block_services">
    <div class="block_header">
        <h3 class="block_title">Dịch vụ</h3>
    </div>
    <div class="block_body">
        <div class="container">
            <div class="row justify-content-center">
                {% for i in arrServices %}
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="service_item">
                            <div class="service_header">
                                <h4 class="service_name">{{ i.service_name }}</h4>
                                <img src="{{ i.service_img }}" alt="{{ i.service_name }}"/>
                            </div>
                            <div class="service_body">
                                {% for i in 0..3 %}
                                    <div class="service_news">
                                        <a href="#" class="service_thumb">
                                            <img src="https://via.placeholder.com/150C/" alt="{{ i.service_name }}" width="70"/>
                                        </a>
                                        <div class="service_content">
                                            <h5 class="service_title"><a href="#" title="Dịch vụ mua hộ hàng Nhật ">Dịch vụ mua hộ hàng Nhật </a></h5>
                                            <p>
                                                Hiện nay iChiba cung cấp dịch vụ Vận chuyển hàng
                                                Nhật từ Tokyo về Hà Nội uy tín, nhanh chóng ...
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="service_footer text-right">
                                    <a href="#" class="button_primary button_gradient">Xem Thêm <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>