<div class="block_container" id="block_suggest">
    <div class="block_header">
        <h3 class="block_title">Mua hàng Nhật</h3>
    </div>
    <div class="block_body">
        <div class="container">
            <div class="suggest_scroll swiper-container">
                <div class="swiper-wrapper">
                    {% for i in 0..2 %}
                        <a href="#" class="suggest_scroll_item swiper-slide">General products & Department stores</a>
                        <a href="#" class="suggest_scroll_item swiper-slide">Fashion</a>
                        <a href="#" class="suggest_scroll_item swiper-slide">Books, CD, DVD & Entertainment</a>
                        <a href="#" class="suggest_scroll_item swiper-slide">Toys & Games</a>
                        <a href="#" class="suggest_scroll_item swiper-slide">Interior Goods, Home Decor & Kitchenware</a>
                        <a href="#" class="suggest_scroll_item swiper-slide">Sports & Outdoors</a>
                    {% endfor %}
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next">
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="fas fa-chevron-left"></i>
                </div>
            </div>
            <div class="row suggest_item_row">
                {% for i in 0..3 %}
                    <div class="col-lg-3 col-md-6 col-6 suggest_item_col">
                        <div class="suggest_item">
                            <a href="#" class="suggest_item_url" title=""></a>
                            <img src="https://via.placeholder.com/400x400" alt="" width="" class="suggest_item_thumb"/>
                            <div class="suggest_item_body">
                                <h5 class="suggest_item_name">Forever 21</h5>
                                <p class="suggest_item_content">Thuế nội địa: 8.75%</p>
                                <p class="suggest_item_content">Phí xử lý giao dịch: 3.00 %</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row suggest_item_row">
                <div class="col-lg-3 col-md-4">
                    <a href="#" title="Hướng dẫn mua hàng" class="suggest_item_link"><i class="fas fa-angle-double-right"></i> Hướng dẫn mua hàng</a>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a href="#" title="Cách nhận thông tin giảm giá từ các Website nhanh nhất" class="suggest_item_link"> <i class="fas fa-angle-double-right"></i> Cách nhận thông tin giảm giá từ các Website nhanh nhất</a>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a href="#" title="Cách nhận thông tin giảm giá từ các Website nhanh nhất" class="suggest_item_link"> <i class="fas fa-angle-double-right"></i> Mẹo đấu giá trên Yahoo! Auction</a>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a href="#" title="Săn hàng giảm giá sốc vào những ngày lễ lớn" class="suggest_item_link"><i class="fas fa-angle-double-right"></i> Săn hàng giảm giá sốc vào những ngày lễ lớn</a>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a href="#" title="Quy định đổi trả hàng hóa" class="suggest_item_link"><i class="fas fa-angle-double-right"></i> Quy định đổi trả hàng hóa</a>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a href="#" title="Thời gian nhận được hàng" class="suggest_item_link"><i class="fas fa-angle-double-right"></i> Thời gian nhận được hàng</a>
                </div>
                <div class="col-lg-3 col-md-4">
                    <a href="#" title="Chính sách vận chuyển hàng" class="suggest_item_link"><i class="fas fa-angle-double-right"></i> Chính sách vận chuyển hàng</a>
                </div>
            </div>
            <div class="text-center pt-3">
                <a href="#" class="button_primary button_gradient btn_suggest_more">Xem thêm <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</div>