<div class="block_container" id="block_highlight_news">
    <div class="block_header">
        <h3 class="block_title">Bài viết nổi bật</h3>
    </div>
    <div class="block_body">
        <div class="container">
            <div class="lst_news highlight_news_slide swiper-container">
                <div class="swiper-wrapper">
                    {% for i in 0..5 %}
                        <div class="lst_news swiper-slide">
                            <a class="lst_news_thumb" href="#">
                                <img src="https://via.placeholder.com/540x370/" alt="" width="540"/>
                            </a>
                            <div class="lst_news_body">
                                <h4 class="lst_news_title">
                                    <a href="#">Lịch sử hành thành và phát triển iChiba</a>
                                </h4>
                                <p class="lst_news_des">
                                    Tổng công ty Cổ phần thương mại và dịch vụ Chuyển phát nhanh iChiba, được thành lập từ tháng 10/2010 có trụ
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>