<div class="block_sidebar" id="block_sidebar_intro">
    <div class="block_sidebar_header">
        <h3 class="block_sidebar_title">Giới thiệu</h3>
    </div>
    <div class="block_sidebar_body">
        <div class="sidebar_category">
            <h4 class="sidebar_category_name">Về iChiba</h4>
            <ul class="sidebar_category_lst">
                {% for i in 0..4 %}
                    <li class="sidebar_category_item">
                        <a href="#"><i class="fas fa-chevron-right"></i> Tầm nhìn và sứ mệnh</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="sidebar_category">
            <h4 class="sidebar_category_name">Mạng lưới và đối tác</h4>
            <ul class="sidebar_category_lst">
                {% for i in 0..4 %}
                    <li class="sidebar_category_item">
                        <a href="#"><i class="fas fa-chevron-right"></i> Tầm nhìn và sứ mệnh</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="sidebar_category">
            <h4 class="sidebar_category_name">Tổng quan ngành</h4>
            <ul class="sidebar_category_lst">
                {% for i in 0..4 %}
                    <li class="sidebar_category_item">
                        <a href="#"> <i class="fas fa-chevron-right"></i>Tầm nhìn và sứ mệnh</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="sidebar_category">
            <h4 class="sidebar_category_name">Chính sách iChiba</h4>
            <ul class="sidebar_category_lst">
                {% for i in 0..4 %}
                    <li class="sidebar_category_item">
                        <a href="#"> <i class="fas fa-chevron-right"></i> Tầm nhìn và sứ mệnh</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>