<div class="block_container" id="block_partner">
    <div class="partner_header">
        <h3 class="partner_title">
            Đối tác của chúng tôi
        </h3>
    </div>
    <div class="partner_body">
        <div class="container">
            <div class="partner_slide swiper-container">
                <div class="swiper-wrapper">
                    {% for i in 0..3 %}
                        <div class="partner_group swiper-slide">
                            <div class="row">
                                {% for i in 0..7 %}
                                    <div class="col-6 col-md-3 partner_item">
                                        <img src="https://via.placeholder.com/270x150" alt="" width=""/>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>