<div class="lst_news">
    <div class="row">
        {% for i in 0..3 %}
            <div class="col-lg-3 col-md-6">
                <div class="lst_news_item">
                    <a class="lst_news_thumb" href="#">
                        <img src="https://via.placeholder.com/770x770/" alt="" width="770"/>
                    </a>
                    <div class="lst_news_body">
                        <h4 class="lst_news_title">
                            <a href="#" title="">Lịch sử hành thành và phát triển iChiba</a>
                        </h4>
                        <p class="lst_news_des">
                            Tổng công ty Cổ phần thương mại và dịch vụ Chuyển phát nhanh iChiba, được thành lập từ tháng 10/2010 có trụ
                            sở chính đặt tại Hà Nội và hệ thống các chi nhánh đặt tại Hồ Chí ...
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>