<div class="category_top">
    <div class="category_slide swiper-container">
        <div class="swiper-wrapper">
            {% for i in 0..4 %}
                <a href="#" title="" class="swiper-slide category_slide_item">
                    <img src="https://via.placeholder.com/1920x480" alt=""/>
                </a>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container">
        <div class="category_top_content">
            <h2>An Toàn - Tận tâm - Uy Tín</h2>
            <hr/>
            <p>
                “iChiba mang cả thế giới tới tận tay của bạn!”
            </p>
        </div>
        {% include '../component/order_query.twig' %}
    </div>
</div>