<div class="estimate">
    <div class="container estimate_container">
        <div class="row">
            <div class="col-lg-6">
                <div class="estimate_content">
                    <h3 class="estimate_title">Ước tính cước vận chuyển</h3>
                    <ul>
                        <li>iChiba là đơn vị tiên phong trong lĩnh vực vận tải quốc tế.</li>
                        <li>Chuyên cung ứng các dịch vụ gửi hàng và chuyển hàng từ NHẬT, HÀN, MỸ, ĐỨC về Việt Nam</li>
                        <li>iChiba mong muốn mang đến nhiều sự chọn lựa cho người tiêu dùng trong nước khi tiếp cận những sản phẩm tốt nhất từ khắp nơi trên Thế Giới với chi phí hợp lý.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="estimate_form">

                    <div class="estimate_form_row row">
                        <div class="col-md-7 mb-3">
                            <fieldset>
                                <label for="name">Tuyến vận chuyển</label>
                                <div class="select_wrap">
                                    <select name="" id="" class="select_common">
                                        <option value="">Vận chuyển Nhật Việt</option>
                                        <option value="">Vận chuyển Nhật Việt</option>
                                        <option value="">Vận chuyển Nhật Việt</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-5">
                            <fieldset>
                                <label for="name">Cân nặng</label>
                                <div class="d-flex align-items-center">
                                    <input type="text" class="input_common"/> <strong class="ml-3">Kg</strong>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="estimate_form_row row">
                        <div class="col-md-4">
                            <fieldset>
                                <label for="name">Chiều cao</label>
                                <input type="text" class="input_common" />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <label for="name">Chiều rộng</label>
                                <input type="text" class="input_common" />
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <label for="name">Chiều dài</label>
                                <div class="d-flex align-items-center">
                                    <input type="text" class="input_common"/> <strong class="ml-2">Cm</strong>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="estimate_form_row row">
                        <div class="col-lg-6 mb-3">
                            <h5>Các dịch vụ bổ sung</h5>
                            <ul>
                                <li>
                                    <input type="checkbox" class="" id="ck1"/> <label for="ck1">Chuyển phát nhanh</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="" id="ck2"/> <label for="ck2">Bảo hiểm hàng hóa</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="" id="ck3"/> <label for="ck3">Đóng thùng bảo vệ</label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <h5>Đánh dấu hàng dễ vỡ</h5>
                            <ul>
                                <li>
                                    <input type="checkbox" class="" id="ck4"/> <label for="ck4">Hàng dễ vỡ</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="" id="ck5"/> <label for="ck5">Không phải hàng dễ vỡ</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="estimate_form_row row">
                        <div class="col-12 text-center">
                            <a href="#" class="button_primary button_gradient banner_home_btn">Ước tính đơn vận <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>