<div class="exchange_rate">
    <img src="/images/icon-cash.svg" alt="" /> Tỷ giá hôm nay
    <i class="fas fa-angle-down"></i>
    <div class="exchange_rate_info">
        <div class="exchange_rate_item">
            <span class="">JPY (YEN): </span>
            <strong class="color_orange">0.000</strong>
        </div>
        <div class="exchange_rate_item">
            <span class="">AUD (YEN): </span>
            <strong class="color_orange">0.000</strong>
        </div>
        <div class="exchange_rate_item">
            <span class="">USD (USD): </span>
            <strong class="color_orange">0.000</strong>
        </div>
        <div class="exchange_rate_item">
            <span class="">WON (WON): </span>
            <strong class="color_orange">0.000</strong>
        </div>
    </div>
</div>