{% set featureArr = [
        {name: 'Phí vận chuyển rất thấp',des: 'Cam đoan chi phí thấp nhất, tiết kiệm nhất cho khách hàng',img: '../images/feature-1.png'},
        {name: 'Giao hàng đúng hạn',des: 'Thời gian vận chuyển nhanh nhất chỉ từ 2–10 ngày',img: '../images/feature-2.png'},
        {name: 'Bao thủ tục hải quan',des: 'iChiba xử lí tất cả giấy tờ thủ tục cho quý khách khi hàng đến Việt Nam',img: '../images/feature-3.png'},
        {name: 'Báo giá nhanh, chuẩn 24/7',des: 'Đội ngũ hỗ trợ nhiệt tình, báo giá tư vấn 24/7',img: '../images/feature-4.png'}
    ]
%}

<div class="feature">
    <div class="container">
        <div class="row feature_row scroll_horizon">
            {% for i in featureArr %}
                <div class="col-md-6 col-lg-3 feature_col">
                    <div class="feature_box">
                        <figure class="feature_thumb">
                            <img src="{{ i.img }}" alt="{{ i.name }}"/>
                        </figure>
                        <div class="feature_body">
                            <h4 class="feature_name">{{ i.name }}</h4>
                            <p class="feature_des">
                                {{ i.des }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>