<div class="language_mobile">
    <div class="language_mobile_item selected">
        <a href="#" title="日本語">
            <img src="../../../images/flag-vn.svg" alt="Tiếng Việt"><br/>
            Tiếng Việt
        </a>
    </div>
    <div class="language_mobile_item">
        <a href="#" title="English">
            <img src="../../../images/flag-en.svg" alt="English"/><br/>
            English
        </a>
    </div>
    <div class="language_mobile_item">
        <a href="#" title="日本語">
            <img src="../../../images/flag-japan.svg" alt="日本語"/><br/>
            日本語
        </a>
    </div>
</div>