<div class="language_pc">
    <div class="language_pc_item">
        Ngôn ngữ:
    </div>
    <div class="language_pc_item">
        <a href="#" class=""><img src="images/flag-vn.svg" alt=""/> 日本語 </a>
    </div>
    <div class="language_pc_item">
        <a href="#" class=""><img src="images/flag-en.svg" alt=""/> English </a>
    </div>
    <div class="language_pc_item">
        <a href="#" class=""><img src="images/flag-japan.svg" alt=""/>Tiếng Việt </a>
    </div>
</div>