<div class="block_sidebar" id="block_lastest_news">
    <div class="block_sidebar_header">
        <h3 class="block_sidebar_title">Tin tức mới nhất</h3>
    </div>
    <div class="block_sidebar_body">
        <div class="lastest_news_lst">
            {% for i in 0..4 %}
                <div class="lastest_news_item">
                    <a href="" class="lastest_news_thumb">
                        <img src="https://via.placeholder.com/300x300/" alt="" width="300"/>
                    </a>
                    <div class="lastest_news_content">
                        <h4 class="lastest_news_title">
                            <a href="#">Thông báo cắt chuyến và nghỉ lễ Nhật Bản ngày 14/2</a>
                        </h4>
                        <time class="lastest_news_time">Thứ 5 - 11/4/2019</time>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>