<div class="order_query">
    <div class="order_query_header">
        <h4 class="order_query_title">Đăng ký & truy vấn đơn vận</h4>
    </div>
    <div class="order_query_body">
        {#<div class="order_query_options">
            <a href="#" class="order_query_option active">Kiểm tra đơn hàng</a>
            <a href="#" class="order_query_option">Kiểm tra kiện hàng</a>
        </div>#}
        <div class="order_query_panel">
            <form class="order_query_form active">
                <input type="text" class="input_common order_query_input" placeholder="Mã đơn hàng ..."/>
                <input type="text" class="input_common order_query_input" placeholder="Email hoặc số điện thoại"/>
                {#<div class="order_query_capcha">
                    <input type="text" class="input_common order_query_input" placeholder="Mã Chapcha ..."/>
                    <span class="">DAWHE</span>
                </div>#}
            </form>
            {#<form class="order_query_form">
                <input type="text" class="input_common order_query_input" placeholder="Mã kiện hàng ..."/>
                <input type="text" class="input_common order_query_input" placeholder="Email"/>
                <div class="order_query_capcha">
                    <input type="text" class="input_common order_query_input" placeholder="Mã Chapcha ..."/>
                    <span class="">POHJU</span>
                </div>
            </form>#}
        </div>
        <div class="order_query_btn">
            <a href="#" class="button_primary button_gradient">Đăng ký vận chuyển</a>
            <a href="#" class="button_primary button_gradient button_send"><i class="fas fa-paper-plane"></i></a>
        </div>
    </div>
    <div class="order_query_footer">
        <ul class="order_query_news">
            <li>
                <a href="#" title="Thông báo lịch cắt chuyến Nhật Bản từ ngày 16/4/2019 đến 17/4/2019">
                    <i class="fas fa-angle-double-right"></i>
                    Thông báo lịch cắt chuyến Nhật Bản từ
                    ngày 16/4/2019 đến 17/4/2019
                </a>
            </li>
            <li>
                <a href="#" title="Thông báo lịch cắt chuyến Nhật Bản từ ngày 16/4/2019 đến 17/4/2019">
                    <i class="fas fa-angle-double-right"></i>
                    Thông báo lịch cắt chuyến Nhật Bản từ
                    ngày 16/4/2019 đến 17/4/2019
                </a>
            </li>
        </ul>
    </div>
</div>