<div id="subcribe">
    <div class="container">
        <h3 class="subcribe_title">Mua hàng nội địa Nhật Bản chưa bao giờ dễ dàng đến thế!</h3>
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <p class="subcribe_summary">
                    Ichiba vô cùng tự hào khi đã giúp được hàng triệu khách hàng tại Việt Nam
                    tiếp cận được với thị trường Nhật và sản phẩm Nhật nội địa chất lượng cao với chi phí tối ưu nhất.
                </p>
            </div>
        </div>
        <div class="subcribe_form">
            <form action="" class="subcribe_form_inner">
                <input type="text" name="subcribe" class="input_common input_subcribe" placeholder="Nhập email đăng ký theo dõi ..." />
                <button type="submit" class="button_primary button_gradient btn_subcribe_submit">Đăng ký</button>
            </form>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <p class="subcribe_text">
                    Đăng ký nhận những tin tức mới nhất từ iChiba để không bỏ lỡ những sự kiện nóng hổi và hàng triệu
                    chương trình khuyến mãi cực kỳ hấp dẫn đến từ những thương hiệu hàng đầu Thế Giới.
                </p>
            </div>
        </div>
    </div>
</div>