.advisory {}
.advisory_container {background: $color-bg;padding: 15px;
  @include border-radius(10px);
}
.advisory_title {font-size: 24px;margin-bottom: 15px;color: $color-orange;padding: 0 0 0 10px;border-left: solid 3px $color-orange}
.advisory_name {color: $color-orange;font-size: $font-size-b;}
.advisory_content {padding: 0;
  @media (min-width: $bp-md) {
      padding: 0 0 0 15px;
  }
}
.advisory_article {}
.advisory_form {padding: 40px 0}
.advisory_form_row {margin-bottom: 15px;
  fieldset {border: none;padding: 0;margin: 0}
  label {font-weight: $font-regular}
  .input_common {display: block;width: 100%}
}