.article_container {

}
.article_body {margin-bottom: 30px}
.article_summary {background: $color-bg;border: solid 1px $color-border;padding: 10px;float: left;margin: 0 0 15px;width: 100%;min-width: 290px;
  @media (min-width: $bp-mobile) {
    width: auto;margin: 0 15px 15px 0;
  }
  @include border-radius(10px);

  h5 {font-size: $font-size-m;font-weight: $font-regular;margin-bottom: 15px}
  ul {@extend %reset-lst;padding-left: 15px;
    li {padding: 2px 0}
  }
}
.article_footer {}
.article_share {margin-bottom: 15px;
  strong {display: inline-block;margin-bottom: 5px}
}
.article_share_icon {}
.article_author {text-align: left;
  @media (min-width: $bp-mobile) {
    text-align: right;
  }
}