#block_highlight_news {
  .slick-arrow::before {color: $color-orange;font-size: $font-size-bb}
}
.highlight_news_slide {padding-bottom: 30px;min-height: 325px;opacity: 0;visibility: hidden;
  @include transition(all .3s ease);
  &.swiper-container-initialized {opacity: 1;visibility: visible}
}
