#block_suggest {
  .block_body {background: $color-bg;padding: 30px 0;margin-top: -60px}
  .swiper-button-next,
  .swiper-button-prev {background: $color-bg;width: auto;padding: 0 5px;color: $color-orange;display: flex;align-items: center;font-size: $font-size-b;height: 100%}

  .swiper-button-next {right: 0}
  .swiper-button-prev {left: 0}
}
.suggest_scroll {padding: 10px 20px;border-bottom: solid 1px $color-border;margin-bottom: 30px}
.suggest_scroll_item {background: transparent;font-size: $font-size-xs;display: inline-block;padding: 5px 10px;font-weight: $font-regular;white-space: nowrap;width: auto;
  &.active {background: $color-orange;color: white}
  @include border-radius(15px)
}
.suggest_item_row {margin-bottom: 30px}
.suggest_item_col {padding-left: 5px;padding-right: 5px;
  @media (min-width: $bp-l) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.suggest_item {background: white;margin-bottom: 30px;overflow: hidden;position: relative;
  @include border-radius(15px);
  @include transition(all .3s ease);
  &:hover {
    @include box-shadow(-2px, 2px, 0px, rgba(35,31,32, 0.3));
  }
  @media (min-width: $bp-l) {
      margin-bottom: 0;
  }
}
.suggest_item_url {position: absolute;width: 100%;height: 100%;top: 0;left: 0}
.suggest_item_body {padding: 10px;
  @media (min-width: $bp-l) {
    padding: 20px;
  }
}
.suggest_item_thumb {}
.suggest_item_url {display: block;margin-bottom: 5px}
.suggest_item_name {margin-bottom: 5px;font-size: $font-size-m}
.suggest_item_content {margin-bottom: 0}
.suggest_item_link {position: relative;padding: 0 0 5px 20px;display: block;
  i {vertical-align: middle;margin: 0 5px 0 0;color: $color-orange;position: absolute;left: 0;top: 2px}
}