.block_container {padding: 15px 0;
  @media (min-width: $bp-md) {
    padding: 30px 0;
  }
  .slick-dots button:before {color: $color-orange;font-size: $font-size-xs}
  .slick-dots li.slick-active button:before {font-size: $font-size-s;color: $color-orange}
}
.block_header {margin: 60px 0;text-align: center;border-bottom: solid 2px $color-border;position: relative}
.block_title {background: white;font-size: $font-size-b;font-weight: $font-regular;padding: 5px 10px;display: inline-block;border: solid 2px $color-border;color: $color-text;margin: 0;
  position: absolute;left: 50%;top: 50%;
  @include translate(-50%,-50%);
  @include border-radius(25px);
  @media (min-width: $bp-md) {
    padding: 10px 30px;font-size: 24px;
  }
}
.block_body {}