#block_services {}
.service_item {
  @include border-radius(20px);
  @include box-shadow(-2px, 2px, 3px, rgba(35,31,32, 0.3));
}
.service_header {position: relative}
.service_name {position: absolute;top: 10px;left: 20px;font-size: $font-size-m;color: white;padding: 0 0 0 10px;border-left: solid 3px white}
.service_body {padding: 15px;
  @media (min-width: $bp-md) {
    padding: 15px;
  }
}
.service_news {display: flex}
.service_thumb {display: block;margin: 0 15px 0 0}
.service_content {flex: 1;
  p {max-height: 60px;overflow: hidden}
}
.service_title {margin-bottom: 5px;font-size: $font-size-m}