.block_lastest_news {}
.lastest_news_lst {}
.lastest_news_item {display: flex;margin-bottom: 15px;}
.lastest_news_content {flex: 1}
.lastest_news_thumb {display: block;width: 60px;height: 60px;margin: 0 15px 0 0;
  img {width: 100%;height: 100%;object-fit: cover}
}
.lastest_news_title {font-weight: $font-regular;margin-bottom: 5px;font-size: $font-size-xs;max-height: 30px;overflow: hidden}
.lastest_news_time {font-size: $font-size-xs;}