.block_sidebar {background: $color-bg;border: solid 1px $color-border;padding: 15px;margin-bottom: 15px;
  @include border-radius(15px);
}
.block_sidebar_header {margin: 0 0 15px}
.block_sidebar_title {font-size: $font-size-m;font-weight: $font-regular;margin: 0;padding: 0 0 0 10px;border-left: solid 2px $color-orange}
.block_sidebar_body {}

.sidebar_category {margin: 0 0 10px}
.sidebar_category_name {font-weight: $font-regular;font-size: $font-size-s;margin: 0 0 5px}
.sidebar_category_lst {padding: 0 0 0 15px;
  @extend %reset-lst
}
.sidebar_category_item {font-size: $font-size-xs;padding: 2px 0 2px 15px;position: relative;}
.sidebar_category_item a {display: block;
  i {position: absolute;left: 5px;top: 5px;font-size: 10px;}
}