#block_partner {margin-bottom: 30px;
  @include linear-gradient-h(#F79721,#F8A136);
  .swiper-pagination {bottom: 0}
}
.partner_slide {padding-bottom: 30px}
.partner_header {text-align: center;color: white;padding: 15px 0;margin-bottom: 20px;position: relative;
  &::before {content: '';background: white;width: 200px;height: 1px;position: absolute;left: 50%;bottom: 0;
      @include translate(-50%,0%);
  }
}
.partner_title {font-size: 26px;margin: 0;}
.partner_body {padding: 20px 0;overflow: hidden}
.partner_item {margin:15px 0;
  img {
    @include border-radius(10px);

  }
}