.category_top {margin-bottom: 30px;position: relative;
  @media (min-width: $bp-l) {
    .order_query {position: inherit;top: 50%;right: 0;margin: 0;
      @include translate(0%,-50%);
    }
    .container {position: absolute;left: 50%;top: 50%;z-index: 1;height: 100%;
      @include translate(-50%,-50%);
    }
  }

}
.category_col {margin-bottom: 15px;
  @media (min-width: $bp-l) {
    margin-bottom: 0;
  }
}
.category_slide {margin-bottom: 15px;
  .swiper-pagination {bottom: 10px}
}
.category_slide_item {display: block;position: relative;
  &::before {content: '';display: block;
    @include responsive-ratio(320,180);
  }
  @media (min-width: $bp-l) {
    &::before {
      @include responsive-ratio(1920,480);
    }
  }
  img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
}

.category_top_content {background: rgba(0,0,0, 0.15);color: white;padding: 15px;width: 90%;max-width: 420px;text-align: center;position: absolute;top: 15px;left: 50%;z-index: 1;
  @include translate(-50%,0%);
  @include border-radius(8px);
  h2 {font-size: $font-size-b;margin: 0 0 10px}
  hr {width: 50%;border-color: white}
  p {}
  @media (min-width: $bp-md) {
      top: 20%;
  }
  @media (min-width: $bp-l) {
    left: 50%;top: 50%;
    @include translate(-50%,-50%);
    h2 {font-size: $font-size-bb;margin: 0 0 10px}
  }
}