
.category_post_slide {padding-bottom: 30px;}
.category_post {text-align: center;min-width: 255px}
.category_post_thumb {display: block;margin-bottom: 15px}
.category_post_body {}
.category_post_title {font-size: $font-size-m;margin-bottom: 15px}
.category_post_des {}