.estimate {}
.estimate_container {background: url("../../images/bg-estimate.png") no-repeat 50% 50%;background-size: cover;padding: 15px;color: white;
  @include border-radius(10px);

}
.estimate_title {font-size: $font-size-b;margin-bottom: 15px;color: white;padding: 0 0 0 10px;border-left: solid 3px white;
  @media (min-width: $bp-l) {
    font-size: $font-size-bb;
  }
}
.estimate_name {color: $color-orange;font-size: $font-size-b;}
.estimate_content {padding: 30px 0;
  ul {padding: 0 0 0 30px;
    li {}
  }
}
.estimate_article {}
.estimate_form {padding: 15px 0}
.estimate_form_row {margin: 0 0 15px;
  @media (min-width: $bp-md) {
    margin: 0 0 15px 15px;
  }

  fieldset {border: none;padding: 0;margin: 0}
  label {font-weight: $font-regular}
  .input_common {display: block;width: 100%}
  ul {
    @extend %reset-lst;
  }
  h5 {font-size: $font-size-m;font-weight: $font-bold}
  select {display: block}
}