.exchange_rate {color: white;text-align: center;padding: 5px 10px;border: solid 2px white;font-weight: $font-regular;display: inline-block;position: relative;min-width: 200px;
  @include border-radius(5px);
  @include transition(all .3s ease);
  &:hover {opacity: 1;color: white;
    @include box-shadow(-2px, 2px, 0px, rgba(35,31,32, 0.3));
    .exchange_rate_info {opacity: 1;visibility: visible;@include translate(0,0);}
  }
  img {margin: 0 5px 0 0;}
  i {margin: 0 0 0 5px}
}
.exchange_rate_info {background: white;position: absolute;top: 30px;left: 0;width: 100%;padding: 10px;opacity: 0;visibility: hidden;
  @include box-shadow(0,1px,3px,rgba(0,0,0, 0.5));
  @include border-radius(5px);
  @include transition(all .3s ease);
  @include translate(0,-5px);
}
.exchange_rate_item {display: flex;align-items: center;white-space: nowrap;color: $color-text;padding: 5px 0;border-bottom: solid 1px $color-bg-third;
  span {flex: 1;text-align: left}
  strong {flex: 1;text-align: right}
  &:last-child {border: none}
}