.feature {margin-bottom: 50px}
.feature_box {background: $color-bg;text-align: center;min-height: 400px;margin-bottom: 15px;
  @include border-radius(10px);
  @include transition(all .3s ease);
  &:hover {
    @include box-shadow(-2px, 2px, 0px, rgba(35,31,32, 0.3));
  }
}
.feature_body {padding: 15px}
.feature_thumb {margin: 0 0 30px;
  img {}
}
.feature_name {font-weight: $font-regular;font-size: $font-size-b;margin-bottom: 15px;}
.feature_col {flex: 0 0 80%}
.feature_des {}