.language_pc {height: 30px;align-items: center;font-size: 0;display: none;
  @media (min-width: $bp-mobile) {
    font-size: $font-size-xs;
  }
  @media (min-width: $bp-xl) {
    font-size: $font-size-s;display: flex;
  }
}
.language_pc_item {margin: 0 15px 0 0;
  a {display: flex;align-items: center;color: white}
  img {margin: 0 5px 0 0;width: 18px}
}

.language_mobile {display: flex;align-items: center;font-size: $font-size-xs;
  @media (min-width: $bp-xl) {
      display: none;
  }
}
.language_mobile_item {flex: 1;text-align: center;margin: 0 3px;
  &.selected a {border-color: $color-orange;color: $color-orange}
  a {display: block;padding: 5px;border: solid 1px $color-bg-secondary;
    @include border-radius(5px);
  }
  img {width: 18px}
}