
.lst_news_slide {
  .slick-arrow::before {color: $color-orange;font-size: $font-size-bb}
}

.lst_news {text-align: center}
.lst_news_thumb {display: block;margin-bottom: 15px;position: relative;width: 100%;
  &:after{content: '';display: block;padding-bottom: 68.63%;}
  img {position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}
}
.lst_news_body {}
.lst_news_title {font-size: $font-size-m;margin-bottom: 15px;max-height: 40px;overflow: hidden}
.lst_news_des {max-height: 60px;overflow: hidden;}