.order_query {background: $color-bg;padding: 15px;margin:0 auto 15px;max-width: 720px;
  @include border-radius(8px);
  @include box-shadow(0, 0, 5px, rgba(35,31,32, 0.3));
  @media (min-width: $bp-xl) {
    background: rgba(255,255,255,0.95);max-width: 320px;min-height: 270px;position: absolute;top: 30px;right: 0;
  }
}
.order_query_header {margin-bottom: 10px;padding-left: 15px;border-left: solid 3px $color-orange}
.order_query_title {font-weight: $font-regular;font-size: $font-size-m}
.order_query_body {}
.order_query_options {display: flex;align-items: center;justify-content: space-between;text-align: center;font-weight: $font-regular;margin-bottom: 15px}
.order_query_option {display: inline-block;padding: 10px 5px;width: 45%;border: solid 1px $color-border;
  @include border-radius(8px);
  &.active {background: white;color: $color-orange}
}
.order_query_panel {background: transparent;padding: 10px 0;
  @media (min-width: $bp-xl) {
    background: white;
  }
}
.order_query_form {display: none;
  &.active {display: block}
}
.order_query_input {display: block;width: 100%;margin-bottom: 10px}
.order_query_btn {text-align: center;margin: 0 0 5px;
  a {margin: 0;
    &.button_send {background: white;border: solid 1px $color-orange-secondary;color: $color-orange}
  }
}
.order_query_capcha {display: flex;
  .input_common {flex: 1;margin: 0}
  span {background: $color-bg;margin: 0 0 0 10px;text-transform: uppercase;padding: 5px 15px;font-weight: $font-regular}
}
.order_query_news {
  @extend %reset-lst;
  li {padding: 5px 0}
  a {color: $color-text;
    @media (min-width: $bp-l) {
      color: $color-orange;
    }
  }
  i {margin: 0 5px 0 0}
}