#subcribe {border-bottom: solid 1px $color-border;text-align: center;padding: 20px 0;margin-bottom: 15px}
.subcribe_title {font-size: $font-size-m;margin: 0 0 15px}
.subcribe_summary {margin: 0 auto 15px}
.subcribe_form {margin: 0 0 15px;}
.subcribe_form_inner {background: white;max-width: 725px;overflow: hidden;min-height: 40px;margin: 0 auto;display: flex;
  @include border-radius(40px);
  .input_subcribe{flex: 1;padding: 0 15px;border-right: solid 1px $color-border;
    @include border-radius(40px 0 0 40px);
    &:focus {border-color: #ccc}
  }
  .btn_subcribe_submit {padding: 0 15px;border: none;
    @include border-radius(0 40px 40px 0);
  }
}
.subcribe_text {margin: 0 auto;
  @media (min-width: $bp-md) {

  }
}