<!--=======================HEADER=======================-->
<header id="header">
    <div class="container header_container">
        <h1 id="logo">
            <a href="/" title="{{ slogan }}">
                <img src="/images/logo.svg" alt="{{ slogan }}" width=""/>
            </a>
        </h1>

        {% include 'navigation.twig' %}
        <div class="header_search">
            <form action="" class="header_search_frm">
                <input type="text" class="input_common header_search_input" placeholder="Tìm kiếm" name="header_search_input" autofocus/>
                <button type="submit" class=" header_search_button"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <div class="hotline">
            <span>
                <i class="fas fa-phone"></i>
            </span>
            <div>
                <strong>Hotline: 1900 988 950</strong><br/>
                8-22h, Từ thứ 2 đến Chủ Nhật
            </div>
        </div>
    </div>
</header>
<!--=======================//HEADER=======================-->


