{% set navArr = [

        {url: '/', name: 'Giới thiệu'},
        {url: '/', name: 'Dịch vụ'},
        {url: '/', name: 'Bảng giá'},
        {url: '/' , name: 'Tin tức'},
        {url: '/', name: 'Hỗ trợ'},
        {url: '/', name: 'FAQ'},
    ]
%}

{% set topbarMenu = [
        {url: '/', name: 'FAQ'},
        {url: '/', name: 'Ưu đãi'},
        {url: '/', name: 'Chính sách'},
        {url: '/', name: 'Điều khoản sử dụng'},
    ]
%}

<nav id="nav_main">
    <div class="nav_container">
        <div class="navmain_collapse">
            <div class="search_mobile">
                <form action="" class="search_mobile_frm">
                    <input type="text" class="input_common search_mobile_input" placeholder="Tìm kiếm" autofocus/>
                    <button type="button" class="button_primary button_gradient search_mobile_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <ul class="navigation_lst">
                <li class="nav_item "><a class="" href="#" title="trang chủ">Trang chủ </a></li>
                <li class="nav_item has_child">
                    <a class="" href="#" title="trang chủ">Dịch vụ <i class="fas fa-angle-down"></i></a>
                    <div class="row mega_menu">
                        <div class="col-12 mega_menu_col">
                            <ul class="mega_menu_lst">
                                {% for i in 0..3 %}
                                    <li class="mega_menu_item"><a href="#"><i class="fas fa-angle-right"></i>Hướng dẫn gửi hàng</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav_item "><a class="" href="#" title="trang chủ">Bảng giá</a></li>
                <li class="nav_item has_child">
                    <a class="" href="#" title="trang chủ">Tin tức <i class="fas fa-angle-down"></i></a>
                    <div class="row mega_menu">
                        <div class="col-12 mega_menu_col">
                            <ul class="mega_menu_lst">
                                {% for i in 0..3 %}
                                <li class="mega_menu_item"><a href="#"><i class="fas fa-angle-right"></i>Hướng dẫn gửi hàng</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav_item "><a class="" href="#" title="trang chủ">Hỗ trợ</a></li>
                <li class="nav_item "><a class="" href="#" title="trang chủ">Liên hệ</a></li>
                {#{% for i in navArr %}
                    <li class="nav_item"><a class="" href="{{ i.url }}" title="{{ i.name }}">{{ i.name }}</a></li>
                {% endfor %}#}
            </ul>
            <ul class="navigation_lst topbar_menu_mobile">
                {% for i in topbarMenu %}
                    <li class="nav_item"><a class="" href="{{ i.url }}" title="{{ i.name }}">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
            {% include '../component/language_mobile.twig' %}
        </div>
    </div>
</nav>