<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 topbar_col--left">
                {% include '../component/language_pc.twig' %}
                {% include '../component/exchange_rate.twig' %}
            </div>
            <div class="col-md-6 topbar_col--right">
                <ul class="topbar_menu">
                    <li><a href="#" title="Liên hệ">FAQ</a></li>
                    <li><a href="#" title="Ưu đãi">Ưu đãi</a></li>
                    <li><a href="#" title="Chính sách">Chính sách</a></li>
                    <li><a href="#" title="Điều khoản sử dụng">Điều khoản sử dụng</a></li>
                </ul>
            </div>
        </div>
    </div>
    <a id="humbuger_icon" href="javascript:void(0)">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
</div>