@mixin button (){
  color: white;text-align: center;padding: 5px 10px;border: solid 2px white;font-weight: $font-regular;display: inline-block;
  @include border-radius(5px);
  @include transition(all .3s ease);

  &:hover {opacity: 0.85;color: white;
    @include box-shadow(-2px, 2px, 0px, rgba(35,31,32, 0.3));
  }
  i {margin: 0 0 0 5px;
    &:only-child {margin: 0}
  }
}
%button_common {}

.button_primary {background:$color-orange-secondary;
  @include button;

  &.button_gradient {
    @include orange-gradien-h();
  }
}

