//Input text
%input-text ,
%reset-input {background: white;font-family: $font-base;border: solid 1px $color-border;font-size: $font-size-s;outline: none;padding: 6px 10px;box-shadow: none;color: $color-text;
  @include border-radius(3px);
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  outline: none;
}

.select_wrap{border: solid 1px $color-border;position: relative;overflow: hidden;
  &:hover {border-color: $color-orange;cursor: pointer}
  &::after {content: '';position: absolute;right: 8px;top: 50%;margin-top: -3px;
      @include css-triangle(bottom,$color-border,6px,10px);
  }
  @include border-radius(3px);
  select.select_common {background: white;height: 30px;display: block;border: none;padding: 0 20px 0 10px;cursor: pointer;width: 100%;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
    appearance: none;
    &:focus {outline: none;}
  }
  .small {}
  .medium {}
  .big {}
}

textarea {width: 100%;}

.input_common {
  @extend %input-text;
  @include transition(all .3s ease);
  &:focus {box-shadow: none;border-color: $color-orange}
  &::placeholder {}
}

.input[type="checkbox"]{
  margin-right: 5px;
}
