#page_contact {background: none;}
.contact_block {margin: 0 0 30px;}
.contact_block_header {padding: 10px 0;border-bottom: solid 1px $color-border-secondary;margin: 0 0 15px;position: relative;
  &::before {content: '';background: $color-orange;display: block;width: 120px;height: 2px;position: absolute;bottom: -1px;left: 0}
}
.contact_block_title {font-size: $font-size-b;font-weight: $font-regular;margin: 0}
.contact_form {
  .contact_form_row {margin-bottom: 25px}
  .contact_form_col {}
  label {display: block;margin: 0 0 10px;font-size: $font-size-m}
  input.input_common {display: block;width: 100%;padding: 10px;font-size: $font-size-m}
}
.contact_address {margin: 0 0 30px;
  h4 {font-size: $font-size-m;margin: 0 0 15px;font-weight: $font-regular;padding: 0 0 10px;position: relative;
    &::before {content: '';background: $color-orange;display: block;width: 40px;height: 1px;position: absolute;bottom: 0;left: 0}
  }
}
.contact_button_send {font-size: $font-size-b;padding: 15px;min-width: 200px}
