{% extends "../layout/layout.twig" %}
{% block pageTitle %}Category{% endblock %}
{% block pageDes %}{{ slogan }}{% endblock %}
{% block page %}
    <div id="page_category" class="page_main">
        {% include '../layout/topbar.twig' %}
        {% include "../layout/header.twig" %}
        <div class="main_body">
            {% include '../component/category_top.twig' %}
            <div class="category_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            {% include '../component/block_sidebar.twig' %}
                            {% include '../component/lastest_news.twig' %}
                        </div>
                        <div class="col-lg-9">
                            {% include '../layout/breadcrum.twig' %}
                            {% include '../component/category_description.twig' %}
                            {% include '../component/category_posts.twig' %}
                            {% include '../component/article_detail.twig' %}
                        </div>
                    </div>
                    {% include '../component/block_related_news.twig' %}
                </div>
            </div>

        </div>
        {% include "../layout/footer/footer.twig" %}
    </div>
{% endblock %}

