{% extends "../layout/layout.twig" %}
{% block pageTitle %}Liên hệ{% endblock %}
{% block pageDes %}{{ slogan }}{% endblock %}
{% block page %}
    <div id="page_contact" class="page_main">
        {% include '../layout/topbar.twig' %}
        {% include "../layout/header.twig" %}
        <div class="main_body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.88046987404!2d105.75720536524258!3d21.117331085950525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134fff328f318cf%3A0x274de1731a18011d!2zTWFpIENow6J1LCDEkOG6oWkgTeG6oWNoLCDEkMO0bmcgQW5oLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1563961686674!5m2!1svi!2s" width="100%" height="540" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="container">
                {% include '../layout/breadcrum.twig' %}
                <div class="row">
                    <div class="col-md-9">
                        <div class="contact_block">
                            <div class="contact_block_header">
                                <h3 class="contact_block_title">Gửi tin nhắn cho chúng tôi</h3>
                            </div>
                            <div class="contact_block_body">
                                <p>Nếu bạn có bất cứ thắc mắc gì cần giải đáp hãy để lại tin nhắn của mình bằng cách điền vào form dưới đây.
                                    iChiba sẽ tiếp nhận và trả lời bạn ngay lập tức trong vòng 1 ngày làm việc.
                                    Trong trường hợp khẩn cấp hãy liên hệ vào <span class="color_orange">Hotline 1900 988 950!</span> </p>
                                <form class="contact_form">
                                    <div class="row contact_form_row">
                                        <div class="col-md-6 contact_form_col">
                                            <label for="contact_input_name">Họ và tên*</label>
                                            <input type="text" class="input_common contact_input" id="contact_input_name"/>
                                        </div>
                                        <div class="col-md-6 contact_form_col">
                                            <label for="contact_input_acc">Email hoặc số điện thoại*</label>
                                            <input type="text" class="input_common contact_input" id="contact_input_acc"/>
                                        </div>
                                    </div>
                                    <div class="row contact_form_row">
                                        <div class="col-12">
                                            <label for="contact_input_title">Tiêu đề*</label>
                                            <input type="text" class="input_common contact_input" id="contact_input_title"/>
                                        </div>
                                    </div>
                                    <div class="row contact_form_row">
                                        <div class="col-12">
                                            <label for="contact_input_content">Nội dung tin nhắn*</label>
                                            <textarea name="" id="contact_input_content" width="100%" rows="10" class="input_common contact_input"></textarea>
                                        </div>
                                    </div>
                                    <div class="row contact_form_row">
                                        <div class="col-12 text-center">
                                            <button type="submit" class="button_primary contact_button_send">Gửi tin nhắn</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="contact_block">
                            <div class="contact_block_header">
                                <h3 class="contact_block_title">Liên hệ</h3>
                            </div>
                            <div class="contact_block_body">
                                <p>Trung tâm chăm sóc và hỗ trợ khách hàng hoạt động từ <span class="color_orange">8h - 20h từ thứ 2 đến Chủ Nhật.</span></p>
                                <div class="contact_address">
                                    <h4>Trụ sở Hà Nội</h4>
                                    <strong>Hotline:</strong> 1900 988 950<br/>
                                    <strong>Địa chỉ:</strong> Số 20, Mai Châu, Đại Mạch, Đông Anh, TP. Hà Nội
                                </div>

                                <div class="contact_address">
                                    <h4>Chi nhánh TP. Hồ Chí Minh</h4>
                                    <strong>Địa chỉ:</strong> Số 5B Lam Sơn , Phường 2, Quận Tân Bình, TP. Hồ Chí Minh <br/>
                                    <strong>Điện thoại:Điện thoại:</strong> 1900 988 950
                                </div>
                                <div class="contact_address">
                                    <h4>Chi nhánh Tokyo</h4>
                                    <strong>Địa chỉ:</strong> Tokyo, Koto-Ku, Shinkiba, 2-6-4 <br/>
                                    <strong>Mã Bưu Điện:</strong> 136-0082 <br/>
                                    <strong>Điện thoại:</strong> <a href="">050 3699 6868</a>
                                </div>
                                <div class="contact_address">
                                    <h4>Chi nhánh Osaka</h4>
                                    <strong>Địa chỉ:</strong> Osaka shi, Joto-ku, Higashinakahama 7-2-7 <br/>
                                    <strong>Mã Bưu Điện:</strong> 536-0023 <br/>
                                    <strong>Điện thoại:</strong> 06 6167 7612
                                </div>
                            </div>
                        </div>
                        <div class="contact_block">
                            <div class="contact_block_header">
                                <h3 class="contact_block_title">Cơ hội nghề nghiệp</h3>
                            </div>
                            <div class="contact_block_body">
                                Nếu bạn quan tâm đến cơ hội việc làm tại iChiba, vui
                                lòng gửi email cho chúng tôi: <a class="color_orange" href="mailto:hr@ichiba.vn">hr@ichiba.vn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "../layout/footer/footer.twig" %}
    </div>
{% endblock %}

