{% extends "../layout/layout.twig" %}
{% block pageTitle %}Detail{% endblock %}
{% block pageDes %}{{ slogan }}{% endblock %}
{% block page %}
    <div id="page_detail" class="page_main">
        {% include '../layout/topbar.twig' %}
        {% include "../layout/header.twig" %}
        <div class="main_body">
            {% include '../component/category_top.twig' %}
            <div class="detail_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            {% include '../component/block_sidebar.twig' %}
                            {% include '../component/lastest_news.twig' %}
                        </div>
                        <div class="col-lg-9">
                            {% include '../layout/breadcrum.twig' %}
                            <div class="article_container">
                                <div class="article_header">
                                    <h1 class="article_title">Tầm nhìn và sứ mệnh</h1>
                                    <div class="article_header_meta">
                                        <div class="article_publised_date"><i class="fas fa-calendar-alt"></i> 2017-05-06 11:46:23</div>
                                        <div class="article_seen"><i class="fas fa-eye"></i> 2017 lượt xem</div>
                                    </div>
                                    <div class="article_header_summary">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                    </div>
                                </div>
                                {% include '../component/article_detail.twig' %}
                            </div>
                        </div>
                    </div>
                    {% include '../component/block_related_news.twig' %}
                </div>
            </div>
        </div>
        {% include "../layout/footer/footer.twig" %}
    </div>
{% endblock %}

