{% extends "../layout/layout.twig" %}
{% block pageTitle %}Trang chủ {% endblock %}
{% block pageDes %}{{ slogan }}{% endblock %}
{% block page %}
    <div id="page_home" class="page_main">
        {% include '../layout/topbar.twig' %}
        {% include "../layout/header.twig" %}
        <div class="main_body">
            <div class="block_intro">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            {% include '../component/banner_home.twig' %}
                        </div>
                        <div class="col-xl-6 position-relative">
                            {% include '../component/order_query.twig' %}
                        </div>
                    </div>
                </div>
            </div>
            {% include '../component/feature.twig' %}
            {% include '../component/advisory.twig' %}
            {% include '../component/block_services.twig' %}
            {% include '../component/block_suggest_website.twig' %}
            {% include '../component/block_partner.twig' %}
            {% include '../component/estimate.twig' %}
            {% include '../component/block_highlight_news.twig' %}
        </div>
        {% include "../layout/footer/footer.twig" %}
    </div>
{% endblock %}

