//Global

a {color: $color-text;text-decoration: none;-webkit-font-smoothing: antialiased;
  @include transition(color .3s ease);
  &:hover {
    color: $color-orange;
  }
  &.color_blue,
  &.color_link {
    &:hover {color: $color-orange}
  }
}
img {max-width: 100%}
strong,b {font-weight: 700}

//Font Weight
.font_light{font-weight: 300}
.font_regular{font-weight: 400}
.font_bold{font-weight: 700}

.fieldset {border: none;margin: 0;padding: 0}


//Slide
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet {width: 12px;height: 12px;
  &.swiper-pagination-bullet-active {background: $color-orange}
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 10px}

//Color
.color_white {color: white}
.color_orange {color: $color-orange}
.color_blue {color: $color-link}
.color_link {color: $color-link}
.color_black {color: $color-text}

//Font Size
.font_size_xs,
.font_size_12 {font-size: $font-size-xs}

.font_size_s,
.font_size_14 {font-size: $font-size-s}

.font_size_m,
.font_size_16 {font-size: $font-size-m}

.font_size_b,
.font_size_18 {font-size: $font-size-b}

.font_size_bb,
.font_size_32 {font-size: $font-size-bb}


.no-gutters {margin-right: 0;margin-left: 0;
  > .col,
  > [class*="col-"] {padding-right: 0;padding-left: 0;}
}

.clearfix {*zoom: 1;
  &:before,
  &:after {content: " ";display: table;}
  &:after {clear: both;}
}


@mixin orange-gradien-h(){
  @include linear-gradient-h(#F8A136,#F79721);
}
@mixin orange-gradien-v(){
  @include linear-gradient-v(#F8A136,#F79721);
}


.scroll_horizon {
  display: flex !important;; /* [1] */
  flex-wrap: nowrap !important; /* [1] */
  overflow-x: auto !important;; /* [1] */
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */
}
.scroll_horizon::-webkit-scrollbar {}
.btn_scroll_top {display: block;width: 40px;height: 40px;line-height: 40px;color: white;font-size: $font-size-b;text-align: center;
  position: fixed;right: 10px;bottom: 10px;
  @include transparent-backgound(black);
  @include transition(all .3s ease);
  @include border-radius(50%);
}

//Main
.main_body {}
.main_content {margin-bottom: 20px}
.main_colright {width: 900px;margin-left: auto}

