//Color
$color-base: white;
$color-bg: #F2F2F2;
$color-bg-secondary: #4D4D4D;
$color-bg-third: #E6E6E6;

$color-link: #F9A850;
$color-link-secondary: #F7981D;

$color-title: #292929;

$color-text: #000;
$color-text-secondary: #999999;
$color-text-third: #A0A0A0;

$color-border: #CCCCCC;
$color-border-secondary: #707070;

$color-input: #999999;

$color-orange: #F9A850;
$color-orange-secondary: #F7981D;
$color-red: #BE2025;
$color-shadow: #231F20;


//Fonts-size
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-b: 18px;
$font-size-bb: 32px;

//Url base
//url(#{$url-img}/site/background.jpg)
$url-img: "../images";

//Breakpoint
$bp-xs: 425px;
$bp-s: 540px;
$bp-mobile: 540px;

$bp-md: 768px;
$bp-tablet: 768px;
$bp-l: 992px;
$bp-laptop: 992px;
$bp-xl: 1200px;