<footer id="footer">
    {% include "../../component/subcribe.twig" %}
    <div class="footer_before">
        <div class="container">
            iChiba.vn - Sàn thương mại điện tử mua mua hộ hàng Nhật hàng đầu Việt Nam. <br/>
            Giấy phép số: 0964491243. Chịu trách nhiệm: Công ty cổ phần iChiba Việt Nam
        </div>
    </div>
    <div class="container">
        {% include "footer_info.twig" %}
    </div>
    {% include "copyright.twig" %}
</footer>