{% set footerMenu1 = [
        'Câu hỏi thường gặp',
        'Phương thức thanh toán',
        'Chính sách hỗ trợ khách hàng',
        'Chính sách nhập khẩu',
        'Giải quyết khiếu nại',
        'Quy định đổi trả hàng hóa',
        'Bảo hiểm hàng hóa',
        'Thủ tục hải quan',
    ]
%}
{% set footerMenu2 = [
    'Giới thiệu về iChiba',
    'Tin tức',
    'Chính sách bảo mật',
    'Điều khoản dịch vụ',
    'Giải quyết khiếu nại',
    'Quy chế hoạt động',
    'Cơ hội nghề nghiệp',
] %}

<div class="row footer_info">
    <div class="col-lg-3 col-md-6 footer_col">
        <h2 class="footer_logo">
            <a href="#" title="{{ slogan }}"><img src="images/logo.svg" alt="{{ slogan }}"></a>
        </h2>
        <div class="address_col">
            <div class="footer_col_body">
                <div class="footer_info">
                    <strong class="font_demibold"><i class="fas fa-headset"></i> Hotline:</strong>
                    <a href="#" class="footer_phone">1900 988 950</a>
                </div>
                <div class="footer_info">
                    <strong class="font_demibold"><i class="fas fa-map-marker-alt"></i> Trụ sở:</strong>
                    <p>
                        Ngõ 167, Đường Quang Tiến, Phường Đại Mỗ Nam, Từ Liêm, TP. Hà Nội
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 footer_col">
        <h4 class="footer_col_name">Hỗ trợ khách hàng</h4>
        <div class="footer_col_body">
            <ul class="footer_menu">
                {% for i in footerMenu1 %}
                    <li class="footer_menu_item"><a href="#" title="{{ i }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 footer_col">
        <h4 class="footer_col_name">Về iChiba</h4>
        <div class="footer_col_body">
            <ul class="footer_menu">
                {% for i in footerMenu2 %}
                    <li class="footer_menu_item"><a href="#" title="{{ i }}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 footer_col">
        <h4 class="footer_col_name">Facebook</h4>
        <div class="footer_col_body">
            <!--Fanpage-->
            <div class="fanpage">
                <img src="images/fanpage.png" alt="" />
            </div>


            <h4 class="footer_col_name">Kết nối với iChiba</h4>
            <div class="footer_social">
                <a href="" class=""><img src="./../../../images/icon-fb.png" alt=""/></a>
                <a href="" class=""><img src="./../../../images/icon-gg.png" alt=""/></a>
                <a href="" class=""><img src="./../../../images/icon-pinter.png" alt=""/></a>
                <a href="" class=""><img src="./../../../images/icon-youtube.png" alt=""/></a>
            </div>
        </div>
    </div>
</div>